
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 
  <link rel="stylesheet" href="/style.css">
  <title>Calorie and Macro Calculator</title>
</head>

<div class="header">
  <h1>Macro and calorie calculator</h1>
  <p>for fat-los</p>
</div>
<div class="container">
<body>


<div class="outer-wrap">
<form class = "calc-form" id="calc-form">
    <div class="form-fields">
        <form method="post">
        <div class="field1">
        <label for="age" class="top-label">Age:</label>
        <input type="text" name="age" id="age" inputmode="numeric" pattern="[0-9]*">
        
        </div>
        
        <div class="field2">
        <select name="gender">
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            </select>
        </div>
        
        <div class="field3">
            <label for="height" class="top-label">Height:</label>
            <input type="text" name="height" id="height" inputmode="numeric" pattern="[0-9]*">
            
        </div>
    
        <div class="field4">
            <label for="weight" class="top-label">Your weight:</label>
            <input type="text" name="weight" id="weight" inputmode="numeric" pattern="[0-9]*">

        </div>
    
        <div class="button">
            <button type="submit">Calculate</button>
        </div>
        </form>
    </div>

    </form>
    


    <form class="rez-form" id="rez-form">

        <div class="form-fields">
            <div class="botPadding">
                <div class="field1">
                    <label class="top-label">Your total amount of calories:</label>
                    <h1 th:text="${Kcal}"></h1>

                    <label  class="top-label">Protein:</label>
                    <h1 th:text="${prot}"> g</h1>

                    <label  class="top-label">Carbs:</label>
                    <h1 th:text="${carb}"> g</h1>

                    <label  class="top-label">Fats:</label>
                    <h1 th:text="${fat}"> g</h1>
                </div>
          </div>
        
         


        </div>


        



        
    </form>

</div>


</body>

</div>










</html>